<h1>Products</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Price</th>
      <th>Stock</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= link_to product.title, product %></td>
        <td><%= product.description %></td>
        <td><%= number_to_currency product.price %></td>
        <td><%= product.stock_quantity %></td>
      </tr>
    <% end %>
  </tbody>
</table>